<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
<link rel="stylesheet" href="/styles.css">

</head>
<body>
  <h1><%= title %></h1>
  <ul>
    <% if (locals.users) {%>
      <% users.forEach(user => { %>
        <li>
          ID: <%= user.id %>, Name: <%= user.firstName %> <%= user.lastName %>,Email: <%= user.email %>, Age: <%= user.age %>, Bio: <%= user.bio %>
        </li>
      <% }); %>
    <% } %>s
  </ul>
 </body>
</html>
